/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.mentor-img  {
  float: right;
  margin-top: 50px;
}

#mentorInfo {
  margin-top: 100px;
}

body {
  background: #ecf0f1;
}